@import 'cozy-ui/defaults'
@import 'cozy-ui'


// ------------------------------------------------------------------
// -- BJA : fort the hacked launch-bar
:global
    @import './launch-bar'
// -- \BJA
// ------------------------------------------------------------------

div:focus
    outline: none

.fil-content
    top-padded(30px)

    @media (max-width: (768/basefont)rem)
        padding 0
